In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2021-11-25 20:39:59,-46.6000,168.3333,52.38,94,100,11.43
1,1,Cockburn Town,TC,2021-11-25 20:40:00,21.4612,-71.1419,78.76,61,40,13.80
2,2,Esperance,AU,2021-11-25 20:40:00,-33.8667,121.9000,55.24,84,99,8.95
3,3,Kapaa,US,2021-11-25 20:40:00,22.0752,-159.3190,80.92,70,40,3.00
4,4,Tula,RU,2021-11-25 20:40:01,54.2044,37.6111,34.09,83,100,14.29

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Cockburn Town,TC,2021-11-25 20:40:00,21.4612,-71.1419,78.76,61,40,13.80
3,3,Kapaa,US,2021-11-25 20:40:00,22.0752,-159.3190,80.92,70,40,3.00
6,6,Hithadhoo,MV,2021-11-25 20:40:02,-0.6000,73.0833,81.32,71,98,16.26
8,8,Valpoi,IN,2021-11-25 20:40:02,15.5305,74.1356,78.37,78,38,4.34
12,12,Castro,BR,2021-11-25 20:40:04,-24.7911,-50.0119,75.31,57,84,4.94
25,25,Puerto Ayora,EC,2021-11-25 20:40:09,-0.7393,-90.3518,80.56,85,69,10.00
27,27,Luwuk,ID,2021-11-25 20:40:10,-0.9516,122.7875,77.74,85,98,2.44
30,30,Mogadishu,SO,2021-11-25 20:36:41,2.0371,45.3438,81.05,83,100,17.11
31,31,Chajul,GT,2021-11-25 20:40:11,15.4853,-91.0342,75.24,81,79,5.91
32,32,Arraial Do Cabo,BR,2021-11-25 20:40:12,-22.9661,-42.0278,78.76,73,0,17.27

In [17]:
preferred_cities_df.count()

City_ID       172
City          172
Country       172
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1     Cockburn Town      TC     78.76  21.4612  -71.1419
3             Kapaa      US     80.92  22.0752 -159.3190
6         Hithadhoo      MV     81.32  -0.6000   73.0833
8            Valpoi      IN     78.37  15.5305   74.1356
12           Castro      BR     75.31 -24.7911  -50.0119
25     Puerto Ayora      EC     80.56  -0.7393  -90.3518
27            Luwuk      ID     77.74  -0.9516  122.7875
30        Mogadishu      SO     81.05   2.0371   45.3438
31           Chajul      GT     75.24  15.4853  -91.0342
32  Arraial Do Cabo      BR     78.76 -22.9661  -42.0278

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Cockburn Town,TC,78.76,21.4612,-71.1419,Osprey Beach Hotel
3,Kapaa,US,80.92,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Hithadhoo,MV,81.32,-0.6000,73.0833,Scoop Guest House
8,Valpoi,IN,78.37,15.5305,74.1356,Cajueiro Homestead
12,Castro,BR,75.31,-24.7911,-50.0119,CHACARA BAILLY
25,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
27,Luwuk,ID,77.74,-0.9516,122.7875,Hotel Santika Luwuk
30,Mogadishu,SO,81.05,2.0371,45.3438,Hotel Juba
31,Chajul,GT,75.24,15.4853,-91.0342,Hotel San Gaspar
32,Arraial Do Cabo,BR,78.76,-22.9661,-42.0278,Pousada Porto Praia

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [44]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [45]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))